body {
    @include container();
    font-family: $primery-font;
    color: $font-color;
}
.game {
    @include flex(row, center);
    margin: 20px;
    background-color: $bg-color;
    border: 1px solid lightgrey;
    > div {
        margin: 20px;
    }
}
.wheel {
    position: relative;
    width: max-content;
    height: max-content;
    margin: 50px;
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 95%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%) rotate(-90deg);
        background: url('../img/arrow.png') no-repeat;
        background-size: contain;

    }
    #canv1 {
        position: relative;
        display: inline-block;
        margin: 20px;
        vertical-align: bottom;
    }    
}
.controls {
    @include flex(column, space-between, center);
    flex: 1 1 auto;
    fieldset {
        @include flex();
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        input {
            max-width: 100px;
            margin: 0 0 10px 0;
            text-align: center;
            font-size: 1em;
        }
    }
    .start-btn {
        @include start-btn();
        margin-top: 20px;
    }
    
}
