.wheelModal {
    .popupS-title {
        font-size: 2em;
    }
    .modal-content {
        @include flex();

        .win-number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            font-size: 3em;
        }
        
        .picture {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
        }
    }
    .popupS-buttons {
        padding: 10px;
        @include flex(row, center);
        .start-btn {
            @include start-btn();
        }
    }
}