@media (max-width: 576px) {
    .game {
        margin: 10px;
    }
    .wheel {
        margin: 40px;
        &:after{
            width: 40px;
            height: 40px;
        }
        #canv1 {
            zoom: 90%;
        }    
    }
    .wheelModal{
        .popup-body {
            vertical-align: top !important;
        }
        .popupS-title {
            font-size: 1.4em;
        }
        .modal-content {
            .win-number, .picture {
                width: 100%;
                padding: 10px;
                font-size: 2em;
            }
        }
        .popupS-buttons {
            .start-btn {
                font-size: 1.2em;
            }
        }
    }
}
@media (max-width: 480px) {
    .wheel {
        margin: 40px;
        &:after{
            width: 30px;
            height: 30px;
        }
        #canv1 {
            zoom: 75%;
        }    
    }
}

@media (max-width: 360px) {
    .wheel {
        margin: 20px;
        &:after{
            width: 20px;
            height: 20px;
        }
        #canv1 {
            zoom: 65%;
        }    
    }
    .wheelModal{
        .popupS-buttons {
            .start-btn {
                font-size: 1em;
            }
        }
    }
}