$primery-font: 'PT Sans', sans-serif;

$font-color: #424242;
$bg-color: #f9f9f9;


$container: 980px;
$container-margin: 0 auto;

@mixin container ($mw: 980px, $m: auto) {
    width: 100%;
    max-width: $mw;
    margin: $m;
}

@mixin flex ($l: row, $j: unset, $a: unset){
    display: flex;
    flex-flow: $l wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin start-btn {
    width: 90%;
    border: 4px solid #FFC107;
    background: #E91E63;
    border-radius: .5em;
    font-size: 2em;
    color: white;
}