<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="fetchTodo()">Загрузить</button>
  </div>

  <hr>

  <p class="error" *ngIf="error; else todosBlock">{{error}}</p>

  <ng-template #todosBlock>

    <div *ngIf="!loading; else loadingBlock">
      <div class="card" *ngFor="let todo of todos">
        <p>
          <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
          <span>
            <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
            <button class="btn" [disabled]="todo.completed" (click)="completeTodo(todo.id)">Завершить</button>
          </span>
        </p>
      </div>
    </div>

    <ng-template #loadingBlock>
      <p>Loading...</p>
    </ng-template>
    
  </ng-template>

</div>



