@import './sass/animation.scss';
@import './sass/pages.scss';


@font-face {
    font-family: 'Gilroy';
    src: 
    url('./fonts/gilroy/Gilroylight.woff2') format('woff2'), 
    url('./fonts/gilroy/Gilroylight.woff') format('woff'), 
    url('./fonts/gilroy/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: 
    url('./fonts/gilroy/Gilroyextrabold.woff2') format('woff2'), 
    url('./fonts/gilroy/Gilroyextrabold.woff') format('woff'), 
    url('./fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: 
    url('./fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'), 
    url('./fonts/BebasNeue/BebasNeue-Regular.woff') format('woff'), 
    url('./fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Evogria';
    src: 
    url('./fonts/evogria/Evogria.woff2') format('woff2'), 
    url('./fonts/evogria/Evogria.woff') format('woff'), 
    url('./fonts/evogria/Evogria.ttf') format('truetype');
}