@import "normalize.css";
html {
    height: 100%;
    background-color: #0f1010;
}
h1 {
    color: gray;
    margin: 20px;
}
p {
    margin: 2px;
    color: white;
    font-family: cursive;
}
#game {
    position: relative;
    max-width: 1200px;
    min-width: 100px;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}
.play {
    opacity: 1  !important;
    pointer-events: all !important;
    transition: 1s !important;
}
#game, #main {
    display: flex;
    flex-flow: row nowrap;
    flex: 2 1 auto;
    overflow: hidden;
    background: #51535a;
}
#main {
    background-image: url(../files/dung-1.jpg);
    background-size: 100% 72%;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 5px 0 0 5px;
}
#sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 200px;
    flex: 1 1 auto;
    margin: 5px;
    border: 4px solid;
    background: #151414;
}
#playerBlock, #foeBlock {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 360px;
    max-height: 600px;
    margin: -5px 10px -5px 10px;
    padding: 5px;
    flex: 1 1 300px;
    align-items: center;
    opacity: 0;
}
#name {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
img {
    max-height: 300px;
}
#stats {
    width: 100%;
    height: 110px;
    margin: 20px 5px 10px 5px;
    padding: 10px;
    background: #444856;
    box-shadow: 1px 1px 4px 2px #0000004d;
}
#hp, #sp {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    background-color: darkred;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    text-indent: 1em;
    color: white;
    font-family: fantasy;
    transition: 0.3s;
}
#hp {
    background-color: #901212;
    border: 1px solid #d84c4c;
    box-shadow: 1px 1px 2px #1b0404;
}
#sp {
    width: 0;
    background-color: #0606d2;
    border: 1px solid #5751da;
    box-shadow: 1px 1px 2px #1b0404;
}

#heal {
    width: 61px;
    height: 55px;
    padding: 5px;
    background: url(../files/skills.png) no-repeat;
    background-size: 220px;
    background-position: -153px 0px;
}
#skill {
    width: 61px;
    height: 55px;
    padding: 5px;
    background: url(../files/skills.png) no-repeat;
    background-size: 220px;
    background-position: -153px 0px;
}

/* Окно выбора персонажа */
#startForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: absolute;
    width: 400px;
    height: 500px;
    top: 10%;
    left: 35%;
    padding: 20px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.5);
}
#startForm h2 {
    width: 100%;
    text-align: center;
}
#startForm input[type="text"] {
    width: 100%;
    margin: 50px 5% 50px 5%;
    padding: 0 0 0 5px;
    line-height: 20px;
    font-size: 32px;
    text-align: center;
}

#startForm input[type="submit"] {
    width: 100%;
    margin: 75px 20% 10px 20%;
    font-size:  32px;
}
.options input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
#startForm [type="radio"] {
    width: 100px;
    height: 100px;
    padding: 4px;
    margin: 6px;
    background-size: contain;
    background-position: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#startForm [type="radio"]:checked {
    border: 2px dotted #ff000078;
}
#startForm [type="radio"]:focus {
    outline:0;
}

.str {
    background: url(../files/p-1.png) no-repeat;
}
.agi {
    background: url(../files/p-2.png) no-repeat;
}
.int {
    background: url(../files/p-3.png) no-repeat;
}


/* Конопки */
.button6 {
    display: inline-block;
    width: 90%;
    padding: 0.7em 1.4em;
    margin: 10px 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
}
.button6:active{
    top:0.1em;
}

/* GG */
.gg {
    display: none;
    position: absolute;
    top: 130px;
    right: 500px;

}