body {
    line-height: 2em;
}

main {
    .obj.one {
        margin: 50px;
        display: grid;
        grid-gap: 10px;
        grid: minmax(50px, 1fr) auto [row-end] / 1fr 500px 2fr;

        // justify-items: start;
        div {
            padding: 5px;
            border: 1px solid gray;
        }

        div:nth-child(even) {
            background-color: azure;
        }

        div:nth-child(1){
            grid-area: 1 / 1 / row-end / 2 ; 
        }

        div:nth-child(2) {
            grid-column: 2 span;
        }

        div:nth-child(4) {
            grid-column: 3/4;

        }
    }

    .obj.two {
        margin: 50px;
        display: grid;
        grid-gap: 5px;
        grid: auto [row-end] / repeat(auto-fill, minmax(300px, auto));

        div {
            padding: 5px;
            border: 1px solid burlywood;
        }
        div:nth-child(1){
            grid-area: 1 / 1 / row-end / 2;
        }
        div:nth-child(2) {
            // grid-area: 1/2/3/4; 
        }
        div:nth-child(3){
            // grid-area: 1/span/span/end;
        }
    }
}