.left {
    animation: go-left 1s steps(4) infinite;
}
.right {
    animation: go-right 1s steps(4) infinite;
}
.bottom {
    animation: go-bottom 1s steps(4) infinite;
}
.top {
    animation: go-top 1s steps(4) infinite;
}



@keyframes go-left {
    0%      {background-position: top -48px left 0px;}
    100%    {background-position: top -48px left -128px;}
}
@keyframes go-right {
    0%      {background-position: top -96px left 0px;}
    100%    {background-position: top -96px left -128px;}
}
@keyframes go-bottom {
    0%      {background-position: top -0px left 0px;}
    100%    {background-position: top -0px left -128px;}
}
@keyframes go-top {
    0%      {background-position: top -144px left 0px;}
    100%    {background-position: top -144px left -128px;}
}
@keyframes from-right {
    0% {
        top: 150px;
        right: -60px;
    }
    80% {
        top: 150px;
        right: 130px;
    }
    100% {
        top: 120px;
        right: 130px;
    }
}
@keyframes go-out-bot {
    0% {
        top: 120px;
        right: 130px;
    }
    10% {
        top: 120px;
        right: 65px;
    }
    20% {
        top: 165px;
        right: 65px;
    }
    100% {
        top: 600px;
        right: 65px;
    }
}

@keyframes showLog {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
