.dif.inputGroup {
    .switch {
        position: absolute;
        top: 150px;
        left: 50px;
        width: 300px;
        height: 50px;
        text-align: center;
        margin: 0;
        background: #4cd964;
        transition: all 0.2s ease;
        border-radius: 25px;
    }
  .switch span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35%;
    left: 45%;
    margin: 0;
    display: block;
    transition: all 0.2s ease;
    font-size: 30px;
    color: white;
  }
  .switch span:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f77c";
    display: block;
    position: absolute;
    margin-top: -8px;
    transition: all 0.2s ease;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 140px;
    line-height: 50px;
    transition: all 0.2s ease;
    font-weight: bold;
  }
  label[for=easy] {
    position: absolute;
    left: 0px;
    height: 50px;
  }
  label[for=hard] {
    position: absolute;
    right: 0px;
  }
  #hard:checked ~ .switch {
    background: #ff3b30;
  }
  #hard:checked ~ .switch span {
    margin-left: -8px;
  }
  #hard:checked ~ .switch span:after {
    content: "\f21b";
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #easy:checked ~ .switch label[for=easy] {
    color: #fff;
  }
  #hard:checked ~ .switch label[for=hard] {
    color: #fff;
  }

  .dif-info[for=easy], .dif-info[for=hard] {
    opacity: 0;
    position: absolute;
    width: 300px;
    height: 190px;
    left: 50px;
    top: 210px;

  }
  #easy:checked ~ .dif-info[for=easy] {
    opacity: 1;
  }
  #hard:checked ~ .dif-info[for=hard] {
    opacity: 1;
  }
}