@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&subset=cyrillic');
@import './ui.scss';
@import './animation.scss';
h2 {
    margin: 5px;
    text-align: center;
}
p {
    margin: 10px;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 480px;
    max-height: 816px;
    min-height: 680px;
    border: 1px solid gray;
    font-family: 'Noto Sans SC', sans-serif;
    overflow: hidden;

    .topbar {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 80px;
        box-shadow: 0px 2px 6px #04040457;
        z-index: 20;
        .main-menu {
            position: absolute;
            top: 0;
            left: 0;
        }
        .money, .water, .sugar, .lemons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 82px;
            height: 50px;
            margin: 5px;
            padding: 2px;
            border-radius: 13%;
            box-shadow: 0px 2px 6px #04040457;
            img {
                width: 36px;
                height: 36px;
            }
            .topbar_number {
                margin: 0 0 0 5px;
                font-size: 18px;
            }
        }
        .time {
            position: absolute;
            top: 90px;
            right: 9px;
            width: 90px;
            height: 27px;
            padding: 2px;
            text-align: center;
            border-radius: 10px;
            background: white;
            box-shadow: 0px 2px 6px #04040457;
            p {
                display: inline;
                margin: 0 5px;
            }
        }  
    }
    .game_window {
        position: relative;
        flex-grow: 1;
        .area {
            position: absolute;
            width: 100%;
            height: 100%;
            .street {
                position: absolute;
                width: 100%;
                height: 100%;
                .street-layer{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    .bg-block {
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        zoom: 2;
                    }
                }
            }
            .visitors {
                .visitor {
                    position: absolute;
                    top: 120px;
                    right: 130px;
                    .direction {
                        width: 32px;
                        height: 50px;
                        background: no-repeat url('../img/assets/visitors/0.png');
                    }
                    .direction.wait {
                        background-position: top -144px left 0px !important;
                    }
                }
                // track
                .from-right {
                    animation:  from-right 5s linear, 
                }
                .stay {
                    top: 120px;
                    right: 130px;
                }
                
                .go-out {
                    animation: go-out-bot 20s linear;
                }
                .hide {
                    top: 999px;
                    right: 999px;
                }
            }
        }
        .lemicon, .day_start_btn {
            position: absolute;
            bottom: -10px;
            right: 5px;        
            width: 70px;
            height: 70px;
            padding: 10px;
            background: white;
            border-radius: 100%;
            box-shadow: 0px 2px 6px #04040457;
            cursor: pointer;
            img {
                width: 60px;
                height: 60px;
                margin: 5px;
            }
        }
        .day_start_btn {
            right: 385px;
        }
        .recipes_history {
            position: absolute;
            bottom: 5px;
            left: 0;
            height: 60px;
            width: 350px;
            display: flex;
            flex-flow: row nowrap;
            .recipe_in_store {
                position: relative;
                width: 60px;
                height: 60px;
                margin: 0 10px;
                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    left: -5px;
                    top: -5px;
                    margin: 0;
                    z-index: 3;
                }
                input:checked {
                    border-radius: 100%;
                    box-shadow: inset 0 0 10px 2px #FF9800;
                    z-index: 0;
                }
                img {
                    left: 0;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                }
                img:hover + .recipe_detal {
                    opacity: 1;
                    pointer-events: all;
                }
                .num {
                    position: absolute;
                    top: 0;
                    left: -10px;
                    width: 20px;
                    padding: 0 5px;
                    background: white;
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px #00000061;
                    pointer-events: none;
                }
                .recipe_detal {
                    position: absolute;
                    bottom: 70px;
                    width: 100px;
                    background: white;
                    border-radius: 10px;
                    box-shadow: 1px 1px 5px #00000061;
                    opacity: 0;
                    pointer-events: none;
                    p {
                        margin: 0 5px;
                    }
                }
            }
            .recipe_in_store:hover .recipe_detal {
                opacity: 1;
            }
        }        
    }
    .logs {
        height: 25px;
        margin-top: 15px;
        background: gray;
        z-index: 20;
        p {
            margin: 0 0 0 10px;
            color: white;
            font-weight: bold;
            animation: showLog .3s ;
        }
    }
    .fas {
        cursor: pointer;
    }
}