@import './radio-btns.scss';

$red: #ffb343;
$white: #fff;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 0;
    z-index: 21;
    h2 {
        margin: 0 5px;
        font-size: 26px; 
    }
    .new-game,.user,.recipes,.shop,.new-lemonade, .day-start, .day-end {
        position: absolute;
        top: 30px;
        left: 500px;
        width: 400px;
        height: 500px;
        background: #fff;
        border-radius: 5%;
        box-shadow: none;
        transition: 1s;
    }
    .new-game {
        z-index: 20;
        opacity: 0;
        .new-player-form {
            .usen-name-block {
                margin: 30px 0 0 0;
                #user_name {
                    width: 340px;
                    margin: 5px 20px 10px 20px;
                    padding: 10px;
                    font-size: 24px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 1px 2px 4px 1px #1919194d;
                }
            }
            .dif {

            }
            .submit-form {
                position: absolute;
                bottom: 40px;
                left: 100px;
                width: 200px;
                padding: 10px;
                border: 0;
                border-radius: 10px;
                background: none;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 1px 2px 4px 1px #1919194d;
                color: #03A9F4;
                cursor: pointer;
            }

        }
        
    }
    .user {

    }
    .recipes {
        z-index: 11;
        opacity: 0;
        .recipes_history {
            left: 25px;
        }
        img {
            position: absolute;
            height: 60px;
            width: auto;
            left: 30px;
        }
        img.el1 {
            top: 85px;
        }
        img.el2 {
            top: 181px;
        }
        img.el3 {
            top: 283px
        }
        .range-slider {
            margin-top: 20px;
            
        }
        .rs-range {
            margin: 25px 0 0 125px;
            width: 250px;
            box-shadow: 0px 0px 3px 1px #00bcd48f;
            -webkit-appearance: none;
            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 1px;
                cursor: pointer;
                box-shadow: none;
                background: #ffffff;
                border-radius: 0px;
                border: 0px solid #010101;
            }
            &::-moz-range-track {
                width: 100%;
                height: 1px;
                cursor: pointer;
                box-shadow: none;
                background: #ffffff;
                border-radius: 0px;
                border: 0px solid #010101;
            }
          
            &::-webkit-slider-thumb {
                box-shadow: none;
                border: 0px solid #ca8c63;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
                height: 42px;
                width: 22px;
                border-radius: 22px;
                background: rgba(255,255,255,1);
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -20px;
            }
          &::-moz-range-thumb{
                box-shadow: none;
                border: 0px solid #ff934a;
                box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
                height: 42px;
                width: 22px;
                border-radius: 22px;
                background: rgba(255,255,255,1);
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -20px;
          }
          &::-moz-focus-outer {
            border: 0;
            }
        }
        .rs-label {
            position: relative;
            transform-origin: center center;
            display: block;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            padding-top: 0px;
            box-sizing: border-box;
            border: 2px solid #ff934a;
            margin-top: 0px;
            margin-left: 112px;
            left: attr(value);
            color: #ff934a;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            &::after {
                content: "kg";
                display: block;
                font-size: 14px;
                letter-spacing: 0.07em;
                margin: -10px -1px 0px 0;
            }            
        }
        .rs-label.num-2 {
            padding-top: 7px;
            font-size: 20px;
        }
        .box-minmax {
            display: none;
        }
        .btn-3 {
            position: absolute;
            bottom: 80px;
            left: 70px;
            left: 70px;
            }
            
        .btn-3:hover {
            background: darken($red, 1.5%);
            border: 1px solid rgba(#000, .05);
            box-shadow: 1px 1px 2px rgba(#fff, .2);
            color: lighten($red, 18%); 
            text-decoration: none;
            text-shadow: -1px -1px 0 darken($red, 9.5%);
            transition: all 250ms linear;
            }
    }
    .shop {
        z-index: 12;
        opacity: 0;
        img {
            height: 60px;
        }
        
        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 56px 30px -15px 30px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 2px 6px #04040457;
        }
        
        .price {
            align-self: center;
            margin: 0 30px;
            font-size: 26px;
            line-height: 30px;
            font-weight: bold;
        }
        .vight {
            position: absolute;
            left: 168px;
            top: 184px;
            font-size: 18px;
        }        
        .fas {
            align-self: center;
            font-size: 40px;
            color: #4CAF50;
        }
    }
    .day-start {
        .set_price {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            margin: 20px 20px;
            div {
                font-size: 42px;
                color: #2196F3;
            }
            .num {
                color: darkgray;
            }
        }
        .select_lemonade {
            margin: 40px 0 0 0;
            .recipes_history {
                position: relative;
                margin: auto;
                justify-content: center;
                .num {
                    left: -15px;
                }
                img {
                    position: relative;
                }
                .select::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    box-shadow: 0px 0px 0px 10px #FF9800;
                }
            }
        }
        .btn-3 {
            position: absolute;
            bottom: 50px;
            left: 110px;
        }
    }
    
    .day-end {
        .summary {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin: 20px;
            p {
                margin: 5px 20px;
                width: 30%;
            }
            span {
                width: 50%;
            }
        }
    }
    .to-main {
        left: 40px;
        box-shadow: 1px 1px 10px 0px #3c3c3c17;
        opacity: 1;
        transition: 1s; 
    }
}
.btn-3 {
    background: lighten($red, 3%);  
    border: 1px solid darken($red, 4%);
    box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
    cursor: pointer;
}
    
.btn-3:hover {
    background: darken($red, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten($red, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($red, 9.5%);
    transition: all 250ms linear;
}
.btn-3.disabled {
    opacity: 0.3;
    background: gray;
    box-shadow: none;
    pointer-events: none;
}
.close_modal {
    position: absolute;
    top: 27px;
    right: 54px;
    font-size: 32px;
    color: #d83a3a;
    opacity:0;
    cursor: pointer;
    pointer-events: none;
}
.modal_bg {
    .close_modal {
        opacity: 1;
        transition: .5s;
        transition-delay: 1s;
        pointer-events: all;
        z-index: 19;
    }
}
.modal_bg::before {
    content: "";
    position: absolute;
    width: 480px;
    height: 680px;
    top: -80px;
    background: black;
    opacity: 0.2;
    transition: .5s;
}

/** Menu **/
.main-menu {
    .icon {
        position: absolute;
        top: 70%;
        left: 70%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .hamburger {
        content: ' ';
        position: relative;
        width: 20px;
        border: 2px solid #392338;
        border-radius: 5px;
        transition: all 0.333333333333333s ease;
    }
    
    .hamburger:after,
    .hamburger:before {
        content: ' ';
        position: absolute;
        left: 50%;
        width: 100%;
        border: 2px solid #392338;
        border-radius: 5px;
        transform: translateX(-50%);
        transition-property: top, bottom, transform;
        transition-duration: 1s, 1s, 0.25s;
    }
    
    .hamburger:after {
        top: -8px;
    }
    
    .hamburger:before {
        bottom: -8px;
    }
    
    .menu {
        pointer-events: none;
    }
    
    .menu--circle {
        position: absolute;
        z-index: 13;
        width: 260px;
        height: 243.33333333333334px;
        overflow: hidden;
    }
    
    .menu__active {
        position: relative;
    }
    
    .menu__toggle {
        z-index: 11;
        position: absolute;
        top: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 1.3s;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: 1px 1px 5px #00000061;
    }
    
    .menu__listings {
        z-index: 10;
        position: absolute;
        top: -200px;
        left: -200px;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        transform: scale(0.1) rotate(150deg);
        transition: transform 1s;
    }
    
    .menu__arrow {
        visibility: hidden;
        position: absolute;
    }
    
    .menu__arrow input[type="radio"] {
        position: fixed;
        top: -99999px;
        left: -99999px;
    }
    
    .menu__arrow ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .menu__arrow--top {
        top: 0.5em;
        left: 220px;
    }
    
    .menu__arrow--top .arrow {
        transform: rotate(-45deg);
    }
    
    .menu__arrow--left {
        top: 220px;
        left: 0.5em;
    }
    
    .menu__arrow--left .arrow {
        transform: rotate(-135deg);
    }
    
    .arrow {
        width: 20px;
        height: 20px;
        border-right: 6.666666666666667px solid #fff;
        border-top: 6.666666666666667px solid #fff;
        border-radius: 3px;
        transition: border-color 0.3s;
        cursor: pointer;
        pointer-events: auto;
    }
    
    .arrow:hover {
        border-color: #ff947f;
        transition: border-color 0.3s;
    }
    
    .circle {
        position: relative;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(70deg);
        overflow: hidden;
        list-style: none;
    }
    
    .circle li {
        position: absolute;
        top: 0;
        right: 0;
        width: 48%;
        height: 46%;
        transform-origin: 4% 106%;
    }
    
    .circle li .placeholder {
        position: absolute;
        left: -100%;
        padding-top: 1.5em;
        width: 200%;
        height: 200%;
        text-align: center;
        transform: skewY(54deg) rotate(18deg);
    }
    
    .circle li .placeholder .upside {
        transform: rotate(180deg);
    }
    
    .circle li .placeholder a {
        text-decoration: none;
        pointer-events: auto;
    }
    
    .circle li .placeholder button {
        pointer-events: auto;
    }
    
    .circle li .placeholder .button {
        font-size: 2.3em;
        background-color: transparent;
        border: none;
        color: #392338;
        cursor: pointer;
    }
    
    .circle li:nth-child(1) {
        transform: rotate(0deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(2) {
        transform: rotate(36deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(3) {
        transform: rotate(72deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(4) {
        transform: rotate(108deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(5) {
        transform: rotate(144deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(6) {
        transform: rotate(180deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(7) {
        transform: rotate(216deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(8) {
        transform: rotate(252deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(9) {
        transform: rotate(288deg) skewY(-54deg);
        background-color: #fff;
    }
    
    .circle li:nth-child(10) {
        transform: rotate(324deg) skewY(-54deg);
        background-color: #fff;
    }
    
    #menu__active {
        position: fixed;
        top: -99999px;
        left: -99999px;
    }
    
    #menu__active:checked ~ label .menu__listings {
        transform: rotate(10deg) scale(1);
        transition: transform 1s;
        box-shadow: 1px 1px 5px #6d6d6d;
    }
    
    #menu__active:checked ~ label .menu__toggle {
        background-color: #392338;
        transition: all 1s;
    }
    
    #menu__active:checked ~ label .hamburger {
        border-color: transparent;
        transition: border-color 0.333333333333333s;
    }
    
    #menu__active:checked ~ label .hamburger:after {
        top: -2px;
        border-color: #fff;
        transform: translateX(-50%) rotate(45deg);
        transition-property: top, transform;
        transition-duration: 0.25s, 1s;
    }
    
    #menu__active:checked ~ label .hamburger:before {
        bottom: -2px;
        border-color: #fff;
        transform: translateX(-50%) rotate(-45deg);
        transition-property: bottom, transform;
        transition-duration: 0.25s, 1s;
    }
    
    #menu__active:checked ~ label .button:hover {
        color: #c1264e;
    }
    
    #menu__active:checked ~ label .menu__arrow {
        visibility: visible;
        transition: all 1s 1.111111111111111s;
    }
    
    #menu__active:checked ~ label .menu__arrow--top label {
        display: none;
    }
    
    #menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
        display: block;
    }
    
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
        transform: rotate(116deg);
    }
    
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
        display: none;
    }
    
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label[for="degree--up-1"] {
        display: block;
    }
    
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
        transform: rotate(224deg);
    }
    
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label {
        display: none;
    }
    
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label[for="degree--up-2"] {
        display: block;
    }
}