$bg: #e25b88;
$tp-bg:rgba(0, 0, 0, 0.2);

$yellow: #ff943d;

html {
    background-color: $bg;
}
h2 {
    margin: 30px 0;
    font-family: 'Evogria';
    text-align: center;
    font-size: 48px;
}
hr {
    width: 100%;
    border-top: 1px solid #d9d9d9;
}
body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    background: url('img/illustration.png');
    background-size: contain;
    background-position: center center;
    color: white;
    overflow-x: hidden;
}
main {
    max-width: 1110px;
    margin: auto;
    .catalog {
        position: relative;
        margin: auto;
        padding: 150px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        &::after {
            content: '';
            position: absolute;
            top: 630px;
            width: 100%;
            height: 21px;
            background-image: url('img/doska2.png');
        }
        h2 {
            width: 100%;
            margin: 10px 0 60px 0;
        
        }
        .product {
            width: 240px;
            margin: 10px;
            // padding: 10px;
            font-family: 'BebasNeue';
            text-transform: uppercase;
            background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
            .name {
                font-size: 36px;
                text-align: center;
            }
            .image img {
                display: block;
                margin: 15px auto
            }
            .info {
                text-align: center;
                & > * {
                    margin: 10px 0;
                }
                .promo-name {
                    margin: 40px 0 5px 0;
                    font-size: 24px;
                }
                .price {
                    display: inline-block;
                    font-size: 60px;
                    line-height: 60px;
                }
                .old-rice {
                    display: inline-block;
                    font-size: 24px;
                    vertical-align: top;
                    text-decoration: line-through;
                }
                .to-cart {
                    position: relative;
                    margin: 15px 0 40px 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: center;
                    .count {
                        width: 67px;
                        height: 45px;
                        margin: 0 0 0 30px;
                        display: flex;
                        justify-content: center;
                        align-self: self-end;
                        border-bottom: 2px solid white;
                        font-size: 24px;
                        cursor: pointer;
                        .num {
                            margin: 0 5px;
                            line-height: 45px;
                        }
                        .arrow {
                            margin: 0 5px;
                            font-size: 18px;
                            line-height: 45px;
                            transform: scale(1, .6);
                        }
                    }
                    .numbers {
                        position: absolute;
                        top: 48px;
                        left: 30px;
                        display: none;
                        width: 110px;
                        height: 187px;
                        font-size: 24px;
                        background: $tp-bg;
                        overflow: hidden;
                        &.show {
                            display: block;
                            opacity: 0;
                        }
                        &.fade-in {
                            opacity: 1;
                            animation-name: fadeInOpacity;
                            animation-iteration-count: 1;
                            animation-timing-function: ease-in;
                            animation-duration: .5s;
                        }
                        .scroll {
                            height: 100%;
                            margin-right: -50px;
                            padding-right: 50px;
                            overflow-y: scroll;
                            div {
                                width: 39px;
                                height: 35px;
                                border-radius: 10px;
                                margin: 10px;
                                line-height: 35px;
                                background: transparent;
                                transition: .3s;
                            }
                            div:hover {
                                background: $tp-bg;
                                transition: .3s;
                                cursor: pointer;
                            }
                        }
                    }
                    .add-to-cart {
                        width: 67px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 4px solid white;
                        border-radius: 28px;
                        background-color: transparent;
                        transition: .3s;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                        &:hover {
                            background-color: #ff8b24;
                            border: 4px solid #ff8b24;
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}
footer {
    .cart {
        position: absolute;
        top: 0;
        right: -500px;
        width: 470px;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        font-family: 'Gilroy';
        text-transform: uppercase;
        color: black;
        background-color: white;
        transition: .5s;
        overflow: hidden;
        .header {
            position: relative;
            height: 226px;
            font-size: 60px;
            line-height: 226px;
            text-align: center;
            font-family: 'BebasNeue';
            color: white;
            background-color: $yellow;
            cursor: pointer;
            &::before {
                content: '˃';
                position: absolute;
                left: 80px;
                top: 0;
                transform: scale(0.5, 1);
                font-weight: bold;
            }
        }
        .products {
            flex: 1;
            height: 575px;
            margin-right: -50px;
            overflow: auto;
            .product {
                max-width: 350px;
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                border-bottom: 1px solid #d9d9d9;
                .image {
                    height: 110px;
                    margin: 0 0 0 5px;
                    img {
                        width: auto;
                        height: 100%;
                        margin: auto;
                    }
                }
                .info {
                    flex: 1;
                    margin: 20px 30px;
                    .name {
                        font-size: 18px;
                    }
                    .qta {
                        margin: 5px 0;
                        font-size: 24px;
                    }
                    .price {
                        display: flex;
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
        }
        .total {
            width: 350px;
            margin: 15px auto;
            span {
                display: block;
                width: 100%;
                font-size: 30px;
            } 
            .currency, .price {
                display: inline;
                font-size: 48px;
            }
        }
        .to-checkout {
            width: 300px;
            height: 60px;
            margin: 20px auto;
            font-size: 18px;
            line-height: 60px;
            color: white;
            text-align: center;
            background-color: $yellow;
            border-radius: 10px;
            border-top: 1px solid #d9d9d9;
        }        
    }
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $tp-bg;
    overflow: hidden;
    &.show {
        display: block;
        opacity: 0;
        .cart {
            right: 0;
            animation-name: slideInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1s;
        }
    }
    &.fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: .5s;
    }
}