@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
}

.game {
    display: flex;
}
#canv-1, #canv-2, .controls {
    display: inline-block;
    box-sizing: content-box;
    // width: 400px;
    // height: 400px;
    margin: 19px;
    border: 1px solid green;
}

.controls {
    display: flex;
    flex-flow: column nowrap;
    min-width: 400px;
    .log, .buttons {
        flex: 1 1;
    }
    .buttons {
        display: grid;
        grid-gap: 10px;
        #up {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        #down {
            grid-column: 2/3;
            grid-row: 3/4;
        }
        #left {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #right {
            grid-column: 3/4;
            grid-row: 2/3;
        }
        #resetBtn {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        #resetBtn {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        #recordBtn {
            grid-column: 2/3;
            grid-row: 4/5;
        }
        #playStopBtn {
            grid-column: 3/4;
            grid-row: 4/5;
        }
        
    }
}