@import "./vars.scss";
.modal-content {
    border: none;
    border-radius: 0;
    .modal-header {
        .modal-title {
            width: 100%;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        } 
        .close {
            position: absolute;
            top: -27px;
            right: -27px;
            width: 27px;
            height: 27px;
            margin: 0;
            padding: 0;
            background: $bg-color center no-repeat;
            background-image: url('../img/close.png');
            opacity: 1;
            &:hover {
                background-color: red;
                opacity: 1;
            }
        } 
    }
    .modal-body {
        .contact-form {
            .form-group {
                max-width: 340px;
                width: 100%;
                margin: auto;
            }

            label {
                display: block;
                margin: 0;
                text-align: center;
            }

            input {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 42px;
                margin: 5px 0 10px 0;
                font-size: 14px;
                line-height: 40px;
            }
            input::placeholder {
                font-style: italic;
                color: red;
            }
            .invalid-input {
                border: 1px solid red;
                box-shadow: inset 0px 0px 10px 0px #ffb9b9;
            }

            textarea {
                width: 100%;
                height: 140px;
            }

            button.btn.btn-primary {
                display: block;
                margin: 20px auto 10px auto;
                background: $bg-color;
                border: none;
                border-radius: 0;
            } 
        }
    }
}