.loader-body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  z-index: 2;
  visibility: visible;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  transition: .5s all;
}

.loader {
  width: 100px;
  height: 100px;
  border: 12px solid #fff;
  border-radius: 50%;
  position: absolute;
  border-top-color: red;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: 1s spin infinite linear;
}
.loader-body.done {
  visibility: hidden;
  opacity: 0;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}