@import "./vars.scss";

@mixin container ($mw: 980px, $m: auto) {
    width: 100%;
    max-width: $mw;
    margin: $m;
}
@mixin flex ($j: unset, $a: unset){
    display: flex;
    flex-flow: row wrap;
    justify-content: $j;
    align-items: $a;
}

* {
    margin: 0;
}
a {
    color: $font-color;

    &:hover {
        text-decoration: underline;
        color: $font-color;
    }
}
body {
    @include flex(space-between);
    flex-flow: column;
    min-height: 100vh;
    font-family: $primery-font;
    font-size: 14px;
    line-height: 22px;
    color: $font-color;
}

header {
    .top-header {
        @include container();
        @include flex(space-between, center);
        min-height: 230px;

        .logo {
            display: grid;
            grid-template-columns: 100px 1fr;
            flex: 1;
            margin: 10px;
            img {
                grid-row: 1 / 3;
                grid-column: 1 / 2;
            }
            .company-name, .company-desc {
                grid-column: 2 / 3;
                max-width: 175px;
                margin: 5px 10px 5px 10px;
            }
    
            .company-name {
                grid-row: 1 / 2;
                font-size: 30px;
                font-weight: bold;
            }
            .company-desc {
                grid-row: 2 / 3;
            }
        }
        .phones {
            flex: 1;
            justify-self: end;
            margin: 0 10px 45px 10px;
    
            .tel {
                display: block;
                font-family: $osl-font;
                font-size: 40px;
                line-height: 46px;
                font-weight: 300;
                text-align: right;
                text-decoration: none;
                color: $font-color;
            }
            .callback {
                font-size: 24px;
                font-weight: bold;
                text-decoration: underline dotted;
                text-align: right;
                cursor: pointer;
            }
        }
    }
    .menu-main {
        @include container(100vw);
        padding: 20px;
        background-color: $bg-color;

        .nav-item {
            .nav-link {
                margin: 8px 0;
                padding: 2px 20px;
                font-size: 30px;
                line-height: 20px;
                color: #fff;
                border-right: 2px solid #fff;
            }
        }
        .nav-item:last-child{
            .nav-link {
                border-right: none;
            }
        }
        .navbar-toggler {
            background-color: #fff;
        }
    }
}

main {
    @include flex(center);
    margin-bottom: 200px;
    
    .breadcrumbs {
        @include container();
        padding: 10px;
    }
    .breadcrumbs a {
        text-decoration: underline;
    }
    .breadcrumbs a:nth-child(n+2)::before {
        content: "/";
        padding: 0 5px;
        display: inline-block;
    }
    .breadcrumbs a:last-child {
        text-decoration: none;
    }
    .content {
        @include container();
        @include flex(center);
        margin: 0 10px;

        aside, section {
            flex: 1;
        }
        aside {
            max-width: 180px;
            width: 180px;
            font-size: 18px;
            line-height: 30px;
            .menu-sidebar {
                ul {
                    padding: 0;
                    list-style: none;
                    .current {
                        text-decoration: underline;
                    }

                    .submenu {
                        padding: 0 0 0 20px;
                        list-style: disc;
                        font-size: 14px;
                        line-height: 22px;
                        .current {
                            font-weight: bold;
                            text-decoration: underline;
                            color: #000000;
                        }
                    }
                }
            }
            .pricelist {
                margin: 100px 0 0 0;
                text-align: center;
                p {
                    font-size: 30px;
                    line-height: 25px;
                    font-weight: bold;
                }
            }
        }
        section {
            max-width: 800px;
            margin: 0 0 0 auto;
            .products {
                @include flex();
                margin: -5px;
                .card {
                    max-width: 250px;
                    max-height: 380px;
                    margin: 5px;
                    padding: 20px;
                    font-size: 18px;
                    background-color: #dcdcdc;
                    border: none;
                    border-radius: 0;
                    a {
                        text-decoration: none;
                    }
                    .price {
                        font-size: 28px;
                        font-weight: bold;
                    }
                    .add-to-cart {
                        position: absolute;
                        right: 17px;
                        bottom: 17px;
                        width: 28px;
                        height: 24px;
                        background: url('../img/addtobasket_mini.png') center no-repeat;
                        &:hover {
                            filter: invert(1);
                        }
                    }
                }
            }
            .pagination {
                @include flex(center);

                div {
                    margin: 10px;
                    cursor: pointer;
                }
                .current {
                    font-size: 18px;
                }
            }
            .about {
                @include flex();
                margin-top: 60px;
                border-top: 1px solid $bg-color;
                p {
                    flex: 2;
                    margin: 10px;
                }
            }
        }
    }
}

footer {
    margin: auto 0 0 0;
    padding: 50px 0;
    background-color: $bg-color;
    color: #fff;
    a:hover {
        color: #fff;
    }
    .bottom {
        @include container();
        @include flex(space-between);
        .credits, .menu-footer, .developer {
            margin: 10px;
        }
        .menu-footer {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                a {
                    text-decoration: underline;
                }
            }
        }
        .developer img, .developer div {
            display: inline-block;
            vertical-align: text-bottom;
        }
    }
    a {
        color: #fff;
    }
}
