@media (max-width: 1200px) { }

@media (max-width: 992px) { 
    header {
        .menu-main {
            .navbar-nav{
                margin: 20px 0 0 0;
                .nav-item {
                    .nav-link {
                        padding: 0;
                        border-right: none;
                    }
                }
            }
        }
    }
    .slider {
        display: none;
    }
}

@media (max-width: 768px) { 
    header {
        .top-header {
            .phones {
               .tel {
                font-size: 30px;
                line-height: 36px;
               }
            }
        }
        .menu-main {
            .navbar-nav{
                .nav-item {
                    .nav-link { 
                        font-size: 20px;
                    }
                }
            }
        }
    }
    main {
        .content {
            section {
                .products {
                    flex-flow: column nowrap;
                    align-items: center;
                }
            }
        }
    }
    footer {
        .bottom {
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}
@media (max-width: 576px) {
    header {
        .top-header {
            flex-flow: column nowrap;
            .logo {
                max-width: 100%;
            }
            .phones {
               .callback {
                    text-align: center;
               }
            }
        } 
    }
    main {
        .content {
            flex-flow: column nowrap;
            align-items: center;
            aside {
                order: 2;   
            }
            section  {
                order: 1;

                .about {
                    flex-flow: column nowrap;
                }
            }
        }
    }
}