.slider {
    position: relative;
    width: 100%;
    height: 400px;
    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        // background: url('../img/slide-1.png') center no-repeat;
        background: center no-repeat;
        background-size: 100% auto;
        opacity: 0;
        transition: ease .5s;
        pointer-events: none;
    } 
    .slide-nav {
        @include container();
        @include flex(space-between);
        height: 100%;
        .slide-left, .slide-right {
            width: 35px;
            height: 100%;
            background: center no-repeat;
            cursor: pointer;
        }
        .slide-left {
            background-image: url('../img/slide-l.png');
        }.slide-right {
            background-image: url('../img/slide-r.png');
        }
    }
}