@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=cyrillic");

body {
    margin: 0;
    background-image: url('../img/test.png');
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}